<META
  HTTP-EQUIV="Content-Security-Policy"
  CONTENT="
    default-src 'self';
    script-src
      'self'
      'unsafe-inline'
      'nonce-{random}'
      cdn.jsdelivr.net
      ounols.github.io
      ounols-blog.goatcounter.com
      gc.zgo.at
      giscus.app
      pagead2.googlesyndication.com
      app.rybbit.io
      www.youtube.com
      s.ytimg.com
      www.google.com
      pagead2.googlesyndication.com
      partner.googleadservices.com
      tpc.googlesyndication.com
      www.googletagservices.com
      adservice.google.com
      *.googleadservices.com;
    style-src
      'self'
      'unsafe-inline'
      fonts.googleapis.com
      cdn.jsdelivr.net
      giscus.app
      cdnjs.cloudflare.com
      use.fontawesome.com
      maxcdn.bootstrapcdn.com;
    font-src
      'self'
      fonts.gstatic.com
      cdn.jsdelivr.net
      cdnjs.cloudflare.com
      use.fontawesome.com
      maxcdn.bootstrapcdn.com;
    img-src
      'self'
      data:
      https:
      i.ytimg.com
      *.googlevideo.com
      pagead2.googlesyndication.com
      *.googleadservices.com
      *.doubleclick.net;
    default-src
      'self'
      data:;
    connect-src
      'self'
      ounols-blog.goatcounter.com
      app.rybbit.io
      www.youtube.com
      www.google.com
      pagead2.googlesyndication.com
      *.google-analytics.com;
    frame-src
      'self'
      www.youtube.com
      youtube.com
      www.youtube-nocookie.com
      w.soundcloud.com
      giscus.app
      tv.naver.com
      serviceapi.nmv.naver.com
      ounols.github.io
      googleads.g.doubleclick.net
      tpc.googlesyndication.com
      *.doubleclick.net;
    frame-ancestors
      'none';
    base-uri
      'self';
    form-action
      'self'
  "
>
