{% include lang.html %}

{% assign intro_ko = '실시간 그래픽스 렌더링에 관심이 많은 게임 개발자입니다.' %}
{% assign intro_en = "I'm a game developer passionate about real-time graphics rendering." %}
{% assign desc_ko = '제 블로그를 통해 다양한 주제에 대해 공유하고 있습니다.<br>관심 있는 분들은 언제든지 댓글이나 이메일로 소통해 주세요! 😊' %}
{% assign desc_en = "I share various topics through my blog.<br>Feel free to reach out via comments or email if you're interested! 😊" %}

<div id="home-post" class="flex-grow-1 px-xl-1">
  <div class="card-wrapper post-preview card">
    <div
      id="portfolio-container"
      class="post-preview"
      style="position: relative; display: block; overflow: hidden; height: 250px;"
    >
      <iframe
        id="portfolio-banner"
        src="https://ounols.github.io/portfolio-banner"
        style="width: 100%; height: 100%; border: none; border-radius: 10px; position: absolute; top: 0; left: 0; z-index: 1;"
        frameborder="0"
      ></iframe>
      <div style="position: absolute; top: 10px; left: 30px; z-index: 3;">
        <a
          href="https://github.com/ounols/portfolio-banner"
          target="_blank"
          style="font-size: 10px; color: rgba(255, 255, 255, 0.7); text-decoration: none;"
        >
          Powered by My Custom Engine (CSEngine)
        </a>
      </div>
      {% comment %}
        <div
          class="card-body d-flex flex-column justify-content-end"
          style="position: relative; z-index: 2; margin: 20px; pointer-events: none;"
        >
          <h1 style="color: white;">Hello There!👋👋</h1>
          <b style="background: linear-gradient(transparent 10%, #ffeb3b 30%); color: darkgray !important;">
            {% if lang == 'ko' %}{{ intro_ko }}{% else %}{{ intro_ko }}{% endif %}
          </b>
        </div>
      {% endcomment %}
    </div>
  </div>
</div>
